src/main/mule/resources/checkBalance_account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\checkBalance:application\json:bank_transaction-config">
		<ee:transform doc:name="Transform Message" doc:id="7ab514b8-8e4a-461a-8c05-5a55be0fd3ce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	bank: attributes.queryParams.bank,
	bankType: attributes.queryParams.banktype,
	accountNum: payload.accountNum,
	atmPin: payload.atmPin
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="payloadRaw" doc:id="96eecbf2-4ac5-4d14-a897-3044e94c8aef" variableName="payloadRaw1" />
		<db:select doc:id="a7dde7a8-a7d1-4d2d-8c7c-485d5c534399" config-ref="Database_Config" doc:name="Select" >
			<db:sql ><![CDATA[select * from bankDetails.Bank_Transactions where custAccNum = :accountNum and bankName = :bank]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	accountNum: vars.payloadRaw1.accountNum,
	bank: vars.payloadRaw1.bank
}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload]" doc:name="databaseRaw" doc:id="63590002-a13c-43dd-bdaa-8ec7435e2d84" variableName="databaseRaw1" />
		<choice doc:name="Choice" doc:id="c63b66e4-0dac-4c0a-bce5-df2dbd893eb7" >
			<when expression="#[isEmpty(vars.databaseRaw1[0])]" >
				<ee:transform doc:name="Transform Message" doc:id="5510462e-2665-4150-9e30-3c5bd5afb00f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Account " ++ vars.payloadRaw1.accountNum ++ " does not exist! Enter Valid Details"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<choice doc:name="Choice" doc:id="f7eecb34-ee7b-448c-aa24-940341ef42c7" >
					<when expression='#[vars.databaseRaw1[0].accountStatus == "Active"]' >
						<choice doc:name="Choice" doc:id="dab19244-c232-472f-9d9c-f5fd4bc694d8" >
							<when expression="#[vars.payloadRaw1.atmPin == vars.databaseRaw1[0].atmPin]" >
								<ee:transform doc:name="Transform Message" doc:id="c1648419-3b93-4a50-b9f8-f87ba5575ecf" >
									<ee:message >
										<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "Your total Balance is " ++ vars.databaseRaw1[0].totalBalance ++ " as on " ++ now() ++ "."
}]]></ee:set-payload>
									</ee:message>
								</ee:transform>
							</when>
							<otherwise >
								<choice doc:name="Choice" doc:id="ea6ddf56-bc20-4da7-a89b-76460ca07ca4" >
									<when expression="#[vars.databaseRaw1[0].wrongPin &gt;= 3]" >
										<db:update doc:id="7e305690-0d9c-4932-aa9e-332a89d94c0e" config-ref="Database_Config" doc:name="Update" >
											<db:sql ><![CDATA[update bankDetails.Bank_Transactions
set accountStatus = 'Blocked', wrongPin = :wrongPin + 1
where custAccNum = :accountNum]]></db:sql>
											<db:input-parameters ><![CDATA[#[{
	accountNum: vars.payloadRaw1.accountNum,
	wrongPin: vars.databaseRaw1[0].wrongPin
}]]]></db:input-parameters>
										</db:update>
										<ee:transform doc:name="Transform Message" doc:id="9baa48ea-5849-42ef-b764-79fa6ec41fdb" >
											<ee:message >
												<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Maximum Attempts reached. Your Account " ++ vars.payloadRaw1.accountNum ++ " is temporarily blocked. Please reach nearest Branch."
}]]></ee:set-payload>
											</ee:message>
										</ee:transform>
									</when>
									<otherwise >
										<db:update doc:id="75c41895-2d47-4110-8e4b-a04ec4c4cd14" config-ref="Database_Config" doc:name="Update" >
											<db:sql ><![CDATA[update bankDetails.Bank_Transactions
set wrongPin = :wrongPin + 1
where custAccNum = :accountNum]]></db:sql>
											<db:input-parameters ><![CDATA[#[{
	wrongPin: vars.databaseRaw1[0].wrongPin,
	accountNum: vars.payloadRaw1.accountNum
}]]]></db:input-parameters>
										</db:update>
										<ee:transform doc:name="Transform Message" doc:id="1f8bed49-f243-4f2b-ab7b-3c485bef63d4" >
											<ee:message >
												<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Login Attempts Failed. Attempts remaining: " ++ 3 - ((vars.databaseRaw1[0].wrongPin  default 0) + 1)
}]]></ee:set-payload>
											</ee:message>
										</ee:transform>
									</otherwise>
								</choice>
							</otherwise>
						</choice>
					</when>
					<otherwise >
						<ee:transform doc:name="Transform Message" doc:id="6d00bb1d-3dda-4d05-82b2-9193566f7af4" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Account " ++ vars.payloadRaw1.accountNum ++ "temporarily blocked. Please visit nearest Branch"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</otherwise>
		</choice>

    </flow>
    </mule>
